@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,600&display=swap');

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    margin-bottom: 20px
}


.container-header {
    margin: 40px 0 20px 0;
}

#pageTitle {
    color: #777777;
    font-size: 22px;
    margin-bottom: 20px;
}

.hidden {
    display: none
}

.navbar {
    border-bottom: 1px solid #eeeeee;
}

.navbar-brand {
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: 22px
}

table td {
    vertical-align: middle !important;
}

button.btn {
    font-size: 14px;
}

.form-inline .form-control {
    width: 100%
}

.search-box {
    position: relative;
    display: inline;
}

#searchBox {
    display: inline;
    text-indent: 30px;
}

.search-box .fa-search {
    position: absolute;
    left: 12px;
    top: 1px;
    font-size: 15px;
    z-index: 9;
    color: #999999;
}

.btn-new {
    font-weight: bold;
    background: #563d7c;
    border-color: #563d7c;
    color: #ffffff
}

.btn-new:hover {
    color: #ffffff;
    background: #38225a
}

.btn-success {
    background: #59C972;
    border-color: #59C972;
}

.btn-success:hover {
    background: #50b566;
    border-color: #50b566;
}

.btn-danger {
    background: #802301;
    border-color: #802301;
}

.btn-danger:hover {
    background: #521701;
    border-color: #521701;
}

.progress-bar {
    background-color: #563d7c;
    width: 0%
}

#addOperation button {
    margin-left: 5px
}

#fromLang {
    font-size: 18px
}

.page-link {
    color: #563d7c
}

.page-item.active .page-link {
    background-color: #563d7c;
    border-color: #563d7c;
    color: #ffffff
}

.pagination {
    display: inline-flex;
}

.new_item {
    transition: background-color ease-in 400ms
}

.pages {
    color: #999999
}

.noData {
    position: absolute;
    top: 100%;
    left: 40%;
    color: #999999;
}

#vocab_content {
    margin-top: 40px;
}

#app .card .card-text {
    color: #999999
}

.wrong-answer {
    color: #802301
}

.correct-answer {
    color: #59C972
}


.form_error {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem #ffb9bf !important;
}


.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.container-header button {
    margin-left: 10px
}

.loader {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 64px;
    height: 64px;
    margin: auto;

}

.loader span {
    display: block;
    margin: 80px auto 0 auto;
    text-align: center;
    font-size: 12px;
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #563d7c;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #563d7c transparent transparent transparent;
}

.loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.parcentage_box{
    padding: 0 
}

#percentage {
    margin-bottom: 20px;
    display: flex;
    padding: 15px
}

.text-danger{
    color: #59c972 !important
}

.text-danger{
    color: #802201 !important
}